.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-size: 19px;
    background: url(images/pattern-background-desktop.svg) no-repeat;
}

@media (max-width: 375px) {
    body {
        font-size: 16px;
        background: url(images/pattern-background-mobile.svg) no-repeat;
    }
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 4.2em;
}

#container main {
    width: 20em;
    height: 33em;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 5px hsl(227, 38%, 83%);
}